*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: cornflowerblue;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color:black;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 600px;
}

h1{
    font-size: 1.5rem;
}

.user-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
}

.user-input-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}

#user-input{
    width:100%;
    padding: 0.4rem;
    border-radius: 6px;
    outline: none;
}

#search-btn{
    padding: 0.4rem;
    border-radius: 6px;
}

.progress{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}
 

.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid wheat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 700;
    background:conic-gradient(green var(--progress-degree, 40%), rgb(5, 31, 5) 0%);
    
}

.circle span{
    position: relative;
    z-index: 2;
    
}

.stats-cards-container{
    display: flex;
    justify-content: center;
}

.stats-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
    padding: 10px;
    margin: 10px;
    width:fit-content;

}

.card{
    display: flex;
    gap: 10px;
    align-items: start;
    justify-content: start;
}

.display-name{
    display: flex;
    justify-content: center;
    align-items: center;
}